@charset "UTF-8";

html {
	position: relative;
	min-height: 100%;
}

body {
	color: rgb(255, 255, 255);
	margin: 0 0 100px;
}

#logo {
	font-size: 60px;
	font-weight: bold;
	text-shadow: 1px 1px rgb(35, 109, 157), 2px 2px rgb(35, 109, 157), 3px 3px rgb(35, 109, 157), 4px 4px rgb(35, 110, 158), 5px 5px rgb(35, 111, 160), 6px 6px rgb(36, 112, 161), 7px 7px rgb(36, 113, 163), 8px 8px rgb(36, 114, 165), 9px 9px rgb(37, 115, 166), 10px 10px rgb(37, 116, 168), 11px 11px rgb(37, 117, 170), 12px 12px rgb(38, 119, 171), 13px 13px rgb(38, 120, 173), 14px 14px rgb(38, 121, 175), 15px 15px rgb(39, 122, 176), 16px 16px rgb(39, 123, 178), 17px 17px rgb(39, 124, 180), 18px 18px rgb(40, 125, 181), 19px 19px rgb(40, 126, 183), 20px 20px rgb(41, 128, 185);
}

/* Buttons */
.btn-default {
	border-color: rgb(255, 255, 255);
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	color: rgb(255, 255, 255);
	background-color: transparent;
	border-color: rgb(255, 255, 255);
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

/* Fonts */
.font-lg {
	font-size: 30px;
}

/* Sections */
.section {
	padding-top: 30px;
	padding-bottom: 30px;
}

.section-sm {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Categories section list */

a.list-group-item:hover, a.list-group-item:focus {
	text-decoration: none;
	color: rgb(255, 255, 255);
	background-color: transparent;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

/* Footer */
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	color: white;
	background-color: rgb(80, 80, 80);
	padding: 20px 0; /* visina footera */
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15) inset;
}

footer a, footer a:hover {
	color: white; /* bijeli linkovi */
}

.img-circle {
	border: 2px solid rgb(255, 255, 255);
}

/* Menu Pills */

.nav-pills > li > a {
	color: rgb(255, 255, 255);
}

.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	background-color: rgb(82, 211, 142);
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

/* Colors */

.blue { background-color: rgb(41, 128, 185); }
.green { background-color: rgb(72, 195, 131); }
.lgreen { background-color: rgb(123, 192, 68); }
.wgreen { background-color: rgb(68, 192, 172); }
.grey { background-color: rgb(80, 80, 80); }
.red { background-color: rgb(195, 92, 72); }
.purple { background-color: rgb(124, 132, 190); }
.yellow { background-color: rgb(255, 197, 111); }