@charset "UTF-8";

* {
	margin: 0;
	padding: 0;	
}

html {
	background-color: #F6F2FF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
}

img {
	border: none;	
}

/* Klase */

.floatL {
	float: left;
}

.floatR {
	float: right;
}

.horCenter{
	text-align: center;
}

.vertMiddle {
	display: table-cell;
	vertical-align: middle;;
}

.displayTable {
	display: table;
}

.clearBoth{
	clear: both;
}

/* Layout */

#wrapper {
	width: 960px;
	height: auto;
	margin: 50px auto 40px auto;
}

#statusBar {
	width: 100%;
	height: auto;
	border: 1px solid #EDE9F6;
	border-radius: 25px;
	margin-bottom: 20px;
	padding: 10px 0 10px 0;
	color: #777;
}

#statusBar a:link { text-decoration: underline; color: #777; }
#statusBar a:visited { text-decoration: none; color: #777; }
#statusBar a:hover { text-decoration: underline; color: #333; }
#statusBar a:active { text-decoration: none; color: #333; }

/* Form reporter */

#formReport {
	display: table;
	margin: 20px auto 0 auto;
	padding: 10px;
	border-radius: 5px;
}

.redReport {
	border: 2px solid #FF8484;
}

.greenReport {
	border: 2px solid #84FFAD;
}

#reportImg {
	display: table-cell;
	vertical-align: middle;
	float: left;
	margin-right: 10px;
}

#reportContent {
	font-size: 14px;
}

/* Registracija i Login */

#form {
	width: 400px;
	height: auto;
	margin: 40px auto 0 auto;
	border-radius: 25px ;
	background-color: #1D4E73; /* Opera */
	background-image: -moz-radial-gradient(50% 23%,circle farthest-corner,rgb(41,98,140) 0%,rgb(14,55,86) 100%); /* Firefox v3.6+ */
	background-image: -webkit-gradient(radial,50% 23%,0,50% 23%,345,color-stop(0, rgb(41,98,140)),color-stop(1, rgb(14,55,86))); /* Safari v4.0+ and by Chrome v3.0+ */
	background-image: -webkit-radial-gradient(50% 23%,circle farthest-corner, rgb(41,98,140) 0%,rgb(14,55,86) 100%); /* Safari v6.0+ and by Chrome v10.0+ */
	background-image: -ms-radial-gradient(50% 23%,circle farthest-corner, rgb(41,98,140) 0%,rgb(14,55,86) 100%); /* IE v10+ */
	background-image: radial-gradient(50% 23%,circle farthest-corner, rgb(41,98,140) 0%,rgb(14,55,86) 100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Style=2)";
	filter:progid:DXImageTransform.Microsoft.Alpha(Style=2);
}

#formLogo {
	width: 250px;
	height: 102px;
	float: left;
	margin: 35px 75px 0 75px;
	background-image: url('../images/logo.png');
	background-size: 250px 102px;
}

#formContent {
	width: 360px;
	height: auto;
	float: left;
	margin: 50px 20px 30px 20px;
	color: #fff;
	font-size: 11px;
}

#formContent fieldset {
	border: none;
}

#formContent input[type=text], #formContent input[type=password] {
	width: 339px;
	float: left;
	margin: 2px 0 10px 0;
	background: white;
	border: 1px solid #DDD;
	border-radius: 5px;
	box-shadow: 0 0 5px #888;
	color: #666;
	padding: 5px 10px;
	outline: none;
}

#formContent select {
	margin-top: 2px;
}

#formContent input[type=submit], #formContent button {
	margin-top: 30px;
}

/* Header */

#header {
	width: 100%;
	height: auto;
}

#headerLogo {
	width: 250px;
	height: 102px;
	margin: 0 auto 50px auto;
}

/* Menu */

#menu {
	width: 100%;
	height: 40px;
	border: 1px solid #EDE9F6;
	border-radius: 5px;
	margin-bottom: 20px;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
}

#menu li {
	list-style: none;
	display: inline-block;
	padding: 10px 30px 10px 30px;
	border-right: 1px solid #EDE9F6;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	text-align: center;
	color: #777;
}

#menu a:link { text-decoration: none; color: #777; }
#menu a:visited { text-decoration: none; color: #777; }
#menu a:hover { text-decoration: none; color: #333; }
#menu a:active { text-decoration: none; color: #333; }

/* Content */

#content {
	width: 940px;
	height: auto;
	border: 1px solid #EDE9F6;
	border-radius: 5px;
	padding: 10px;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
}

#leftContent {
	width: 250px;
	height: auto;
	border-radius: 5px;
	margin-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
	background-color: #275f88;
	color: #fff;
	text-align: center;
}

#leftContent a:link { text-decoration: none; color: #fff; }
#leftContent a:visited { text-decoration: none; color: #fff; }
#leftContent a:hover { text-decoration: underline; color: #fff; }
#leftContent a:active { text-decoration: none; color: #fff; }

#leftContent ul li {
	list-style-image: url('../images/circleul.png');
	font-size: 14px;
	line-height: 40px; 
}

#mainContent {
	width: 660px;
	height: auto;
	float: left;
	padding: 20px 10px 20px 10px;
}

#loadingDiv {
	width: inherit;
	height: auto;
}

.hr1 { 
	height: 1px;
	margin: 10px 0 10px 0;
	background-image: -moz-linear-gradient(left,  #275f88, #ffffff, #275f88);
	background-image: -webkit-linear-gradient(left, #275f88, #ffffff, #275f88); 
	background-image: -ms-linear-gradient(left, #275f88, #ffffff, #275f88); 
	background-image: -o-linear-gradient(left, #275f88, #ffffff, #275f88); 
}

.hr2 { 
	height: 1px;
	margin: 10px 0 10px 0;
	background-image: -moz-linear-gradient(left,  #ffffff, #275f88, #ffffff);
	background-image: -webkit-linear-gradient(left, #ffffff, #275f88, #ffffff); 
	background-image: -ms-linear-gradient(left, #ffffff, #275f88, #ffffff); 
	background-image: -o-linear-gradient(left, #ffffff, #275f88, #ffffff); 
}

/* Chat */

#chatBar {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	background-color: #275f88;
}

#chatWrapper {
	margin-left: auto;
	margin-right: auto;
}

.chatTab {
	display: none;
	border: 1px solid #EDE9F6;
	height: 200px;
	width: 150px;
}

/* Game */

#pitanje {
	text-align: center;
}

.popup {
	display: none;
	text-align: center;
}
.odgovor {
	display: none;
	text-align: center;
}
.btnOdg {
	border: 1px solid #EDE9F6;
}
.btnOdg:hover {
	background-color: yellow;
}

.gamescreen {
	display: none;
	text-align: center;
}

.rbotun {
	text-align: center;
	background-color: #275f88;
	color: #eeddcc;
	border: 4px solid #444488;
	margin: 0 20px 0 20px;
	padding: 2px 4px 2px 4px;
}

.rbotun:hover {
	background-color: #d8a077;
}

.botun {
	text-align: center;
	background-color: #222222;
	color: #eeddcc;
	border: 4px solid #000000;
	margin: 80px 20px 20px 20px;
	padding: 2px 4px 2px 4px;
}

.botun:hover {
	background-color: #aaaaaa;
	border: 4px solid #ffffff;
	color: #cceedd;
}

#kategorija {
	color: #275f88;
}

#window_kategorija {
	display: none;
	width: 940px;
	height: auto;
	border: 5px solid #EDE9F6;
	border-radius: 5px;
	padding: 10px;
	background-color: #ffffff;
	position: absolute;
	top: 100px;
	right: auto;
	left: auto;
	width: 400px;
	height: 100px;
	opacity: 90%;
	text-align: center;
}

.right {
	text-align: right;
}
